---
import Layout from './Layout.astro';
import Metadata from '../components/Metadata.astro';
interface Props {
  filename: string;
  title: string;
  date: Date;
  excerpt: string;
}
import { filenameToTitle } from '../filenameToTitle'

const { filename, title, date } = Astro.props;
---

<Layout title={title}>
  <Metadata
    slot="metadata"
    title={filenameToTitle(filename)}
    description={title}
    image={`https://hrtowii.nekoweb.org/${Astro.url.pathname}og.png`}
    canonicalUrl={`${Astro.url.pathname}`}
    publishedTime={date.toISOString()}
    type="article"
  />
  <article>
    <h1>{title}</h1>
    <p>Published on: {date.toLocaleDateString()}</p>
      <slot />
  </article>
</Layout>

<style>
  article {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
  }
</style>
