---
import Layout from './Layout.astro';
import Metadata from '../components/Metadata.astro';
interface Props {
  filename: string;
  title: string;
  date: Date;
  excerpt: string;
}
import { filenameToTitle } from '../filenameToTitle'

const { filename, title, date, excerpt } = Astro.props;
console.log(Astro.props)
---

<Layout title={title}>
  <Metadata
    slot="metadata"
    title={filenameToTitle(filename)}
    description={excerpt}
    image={`${Astro.url}og.png`}
    canonicalUrl={`${Astro.url}`}
    publishedTime={date.toISOString()}
    type="article"
  />
  <article>
    <h1>{title}</h1>
    <p>Published on: {date.toLocaleDateString()}</p>
    <p><em>{excerpt}</em></p>
    <div class="content">
      <slot />
    </div>
  </article>
</Layout>

<style>
  article {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    font-size: 2.5em;
    color: var(--foreground);
  }
  .content {
    margin-top: 20px;
  }
</style>